.DS_Store
.#*
debug*
.nrepl-port
.lein-failures
.lein-repl-history
.webdrivers

resources/public/**
!resources/public/assets
!resources/public/index.html
!resources/public/favicon.jpg

target/
node_modules/
package-lock.json
yarn.lock
